body{

}

.header {
    text-align: center;
}

.header h1 { 
    color: yellow;
    font-family: "STARWARS";
}

.header h2 {
    color: yellow;
    font-family: "STARWARS";
}

.forms {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    color: white;
    flex-basis: 4;
    flex-shrink: 0;
}

.form h3 {
    font-family: Arial, sans-serif;
}

.form label {
    font-family: Arial, sans-serif;
}

#game {
    background-color: #eeeeee;
    border: solid;
    border-radius: 5px;
    border-color: gray;
}

#hud{
    width: 1000px;
    height: 225px;
    border: solid #616161;
    background-color: #787878;
    border-radius: 5px;
    color: white;

    display: flex;
    justify-content: space-evenly;
}

.hud-component {
    color: white;
}

.hud-component h2{
    font-family: Arial, sans-serif;
    font-size: 1.1em;
}

.hud-component p{
    font-family: Arial, sans-serif;
    font-size: .9em;
    margin-left: 1%;
}

#comms-area {
    overflow-y: scroll;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px; 
    padding-left: 10px;
    padding-top: 10px;
    height: 50px;
}

#comms-area div{
    color: black;
    font-family: Arial, sans-serif;
    font-size: .9em;
}

@font-face {
    font-family: "STARWARS"; 
    src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot"); 
    src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot?#iefix") format("embedded-opentype"), 
    /*url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff2") format("woff2"), */
    url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.svg#STARWARS") format("svg"); 
} 